:root {
    --netflix-red: #e50914;
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-gray: #808080;
    --font: Arial, sans-serif;
}

/* Reset CSS Padrão */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
}

/* Estilos Genéricos */

body {
    background-color: var(--color-dark);
    font-family: var(--font);
}

.container {
    height: 100vh;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.4) 30%,
            rgba(0, 0, 0, 1)), url(images/poster.webp);
    background-size: cover;
    /*padding: 0.26rem 0.75rem 0 0.75rem;*/
}

.hero {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 20px 60px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    margin-left: 60px;
    margin-top: -80px;
}

section {
    padding-bottom: 50px;
}

section h2 {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-light);
    margin-bottom: 20px;
}

footer {
    display: block;
    margin: 60px auto;
    width: 60vw;
    padding-bottom: 60px;
}

/* Logo */

.logo {
    width: 120px;
}

.svg-icon-netflix-logo {
    fill: var(--netflix-red);
}

/* Menus */

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu .left,
.menu .right {
    display: flex;
    font-size: 0.86rem;
}

.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu ul li {
    padding-right: 0.9rem;
}

.menu ul li a {
    color: var(--color-light);
    text-decoration: none;
    position: relative;
}

.menu ul li a:hover {
    color: rgba(255, 255, 255, 0.8);
    /* exemplo de RGBA */
}

.menu ul li a .badge {
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 23px;
    font-size: 8px;
    position: absolute;
    top: -15px;
    right: -10px;
    background: var(--netflix-red);
}

.menu .user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu .avatar {
    width: 32px;
    margin-right: 5px;
    border-radius: 5px;
}

.mobile-menu-btn{
    display: none;
    cursor: pointer;
    color: var(--color-light);
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 25px;
}

/* Banner */

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.synopsis {
    color: var(--color-light);
    font-size: 14px;
    line-height: 150%;
    padding: 15px 0;
}

.buttons .btn {
    color: var(--color-light);
    padding: 15px 25px;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
    font-family: inherit;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.6s;
}

.buttons .btn i {
    margin-right: 5px;
}

.buttons .btn.primary {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.buttons .btn.primary:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--color-dark);
}

.buttons .btn.secondary {
    background-color: rgba(109, 109, 110, 0.7);
    color: var(--color-light);
}

.buttons .btn.secondary:hover {
    background-color: rgba(109, 109, 110, 0.4);
    color: var(--color-light);
}

/* Slider Filmes */

.slider {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.slider .ctrl {
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    color: var(--color-light);
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s;
    z-index: 3;
}

.slider:hover .ctrl {
    visibility: visible;
    opacity: 1.0;

}

.slider .ctrl:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.slider .prev {
    left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.slider .next {
    right: 0;
}

.slider ul {
    list-style: none;
    display: flex;
    grid-gap: 5px;

}

.slider ul li button {
    border: none;
    outline: none;
    padding: 0;
    background-color: var(--color-dark);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.slider ul li button img {
    max-width: 230px;
    max-height: auto;
    border-radius: 5px;
    transition: 0.6s;
}

.slider ul li button:hover img {
    opacity: 0.6;
}

.slider ul li button .progress,
.slider ul li button progress[value] {
    /* Reset browser css*/
    /*-webkit-appearance: none;
    appearance: none;*/
    border: none;
    margin-top: 5px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 70%;
}

progress[value]::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.2);
}

progress[value]::-webkit-progress-value {
    background-color: var(--netflix-red);
}

progress[value]::-moz-progress-bar {
    background-color: rgba(255, 255, 255, 0.2);
}

progress[value]::-moz-progress-value {
    background-color: var(--netflix-red);
}

.slider ul li button .current {
    display: block;
    background-color: var(--netflix-red);
    height: 3px;
}

/* Barra Rede Social */
nav.social {
    margin-bottom: 30px;
}

nav.social ul {
    list-style: none;
    display: flex;
    grid-gap: 15px;
}


nav.social ul li a {
    text-decoration: none;
    color: var(--color-light);
    font-size: 26px;
}

nav.social ul li a:hover {
    color: rgba(255, 255, 255, 0.4);
    transition: 0.6s;
}

/* Menu de rodapé */

.menu-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-gap: 15px;
}

.menu-footer nav ul li {
    list-style: none;
}

.menu-footer nav ul li a {
    text-decoration: none;
    color: var(--color-gray);
    font-size: 13px;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

.menu-footer nav ul li a:hover {
    color: var(--color-light);
}

.service{
    margin-top: 30px;
}

.service a {
    display: inline-block;
    border: 1px solid var(--color-gray);
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color: var(--color-gray);
}

.service a:hover {
    color: var(--color-light);
}

.copyright {
    margin-top: 30px;
	font-size: 12px;
    color: var(--color-light);
}

/* Responsividade */

@media only screen and (max-width: 768px) {

    .menu .left ul,
    .menu .right ul{
        display: none;
    }

    .mobile-menu-btn{
        display: block;
    }

    .banner {
        width: 100%;
    }

    .slider ul li button img {
        max-width: 180px;
    }

    .menu-footer {
        grid-template-columns: repeat(2, 1fr);
    }
}